#mode-section {
    height: 100vh;
    /* position: relative; */
    background-color: rgb(17, 160, 112);
}

#mode-section .card{
    width: 450px;
    position: absolute;
    top: 20%;
    left: 38%;
}

#mode-section .card .card-img-top{
    height: 450px;
    width: auto;
    margin: 10px;
    border-radius: 10px;
}

.white-theme{
    border: 2px solid rgb(51, 50, 50);
}

.dark-theme{
    border: 2px solid white;
    background-color: rgb(20, 15, 15);
    color: white;
}

#mode-toggle {
    padding-top: 2%;
    margin-left: 48%;
}